name: Self-hosted test
on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: self-hosted
    steps:
      - name: Check runner
        run: echo "Self-hosted runner is working!"




